# Base de datos
POSTGRES_USER=user_example
POSTGRES_PASSWORD=reservas_pass_example
POSTGRES_DB=DB_reservas_citas
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Flask
FLASK_APP=app/main.py
FLASK_ENV=development
SECRET_KEY=secret_key_example